.wrapper {
  margin: auto;
  width: 80%;
}

.logo,.menu {
display:inline-block
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serifregular, arial, helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__item:not(:last-child) {
  padding-right: 25px;
}

.logo__circle {
  position: absolute;
  left: 0;  
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
  }
 
  .logo__circle_color_dark-blue {
    background: #0056ec;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 58%;
    background: #c7dbfb;
  }
 
