.wrapper {
  margin: auto;
  width: 80%;
}

.logo,.menu {
display:inline-block
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  /*padding: 40px 0;
  font: bold 24px/31px pt_serifregular, arial, helvetica, sans-serif;*/
width: 190px;
height: 35px;
background: url('files/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
}
.menu__item:not(:last-child) {
  padding-right: 25px;
}